<!DOCTYPE html>

<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {box-sizing: border-box}

body, html {
  height: 100%;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #181818;
  text-align:center
}

p{
width:20%;
text-align:center;
margin: 0 auto;
}

#show_products_by_commodities{
    border: solid #a08db7;
    height: 500px;
    width: 952px;
    position: relative;
}

iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.tablink {
  background-color: #555;
  background-size:100% 100%;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
  background-size:100% 100%;
}

.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

Dashboard{
  zoom:60%
}

#Dashboard {background-color: #181818;}
#DataAnalysis {background-color: #181818;height: 100%;}
#Question1 {background-color: #181818;}
#Question2 {background-color: #181818;}

</style>
</head>
<body>

<button class="tablink" onclick="openPage('Dashboard', this, 'red')" >Dashboard</button>
<button class="tablink" onclick="openPage('DataAnalysis', this, 'orange')" id="defaultOpen">Data</button>
<button class="tablink" onclick="openPage('Question1', this, 'darkkhaki')">Q1 : ΔCustomer Engagement</button>
<button class="tablink" onclick="openPage('Question2', this, 'green')">Q2 : Customer Enagement Demographics</button>




<div id="Dashboard" class="tabcontent">
  <h3>Dashboard</h3>
  <p>Zoom out to adjust dashboard dimensions.</p> <br>
  <dash style="text-align:center">
    <iframe id ="show_products_by_commodities" src="{{ url_for('fig1') }}" height="489.5" width="952" style="text-align:center"></iframe>
    <!-- <p> -->
        <!-- <b>Figure 1.</b> This pie chart shows the ratio of products sold by category. Commodities make up over a quarter -->
        <!-- of all revenue made meaning this is where groceries stores make a huge portion of their money. -->
    <!-- </p> -->
    <iframe id ="show_products_by_commodities" src="{{ url_for('fig2') }}" height="489.5" width="952" style="text-align:center"></iframe>
    <!-- <p> -->
        <!-- <b>Figure 2.</b> This graph shows household spending against the purchased date. There is a peak in the month of April 2020 where most States -->
        <!-- started shutting down. We assisted on supplies shortage within that period, causing a downward trend in 2020 -->
    <!-- </p> -->
    <iframe id ="show_products_by_commodities" src="{{ url_for('fig3') }}" height="489.5" width="952" style="text-align:center"></iframe>
    <!-- <p> -->
        <!-- <b>Figure 3.</b> This chart shows the sum of spending by age range. The 45-55 makes up the largest -->
        <!-- spending block meaning grocery stores may want to appeal to this age range specifically. -->
    <!-- </p> -->
    <iframe id ="show_products_by_commodities" src="{{ url_for('fig4') }}" height="489.5" width="952" style="text-align:center"></iframe>
    <!-- <p> -->
        <!-- <b>Figure 4.</b> This chart shows the sum of spending by income range. The 50-74k income range makes -->
        <!-- up the largest spending block meaning grocery stores may want to appeal to this income range specifically. -->
    <!-- </p> -->
    <iframe id ="show_products_by_commodities" src="{{ url_for('fig5') }}" height="489.5" width="952" style="text-align:center"></iframe>
    <!-- <p> -->
        <!-- <b>Figure 5.</b> This chart shows the sum of household spending by household size. -->
        <!-- Families of 2 seem to spend roughly the same amount per person as other families but as you can see, -->
        <!-- families of 2 make up the largest spending group. This is likely because there are more families of 2 -->
        <!-- than other sizes of families. -->
    <!-- </p> -->
    <iframe id ="show_products_by_commodities" src="{{ url_for('fig6') }}" height="489.5" width="952" style="text-align:center"></iframe>
    <!-- <p> -->
        <!-- <b>Figure 6.</b> This graph displays the total household spending in 2019.  We manifested a decrease on year 2020 as the world witnessed a global pandemic. People losing their jobs and facing hardships could be major factors to that decrease. -->
    <!-- </p> -->
    <iframe id ="show_products_by_commodities" src="{{ url_for('fig7') }}" height="489.5" width="952" style="text-align:center"></iframe>
    <!-- <p> -->
        <!-- Description 3: This chart shows specific customer engagement over time. We use this to see or track changes -->
        <!-- to a household that could increase or decrease spending over time. -->
    <!-- </p> -->
  </dash>
</div>

<div id="DataAnalysis" class="tabcontent">
  <h3>Data</h3>
  <a href="/data">Click here to see data pull #10. <br></a>
  <br>
  <a href="/importdata">Click here to import new data.</a>
  <br>
  <body>
  <form method="POST">
  <br>
	<p>Enter a HSHD_NUM to search Data Pulls.</p>
	<input name="u">
	<input type="submit">
   </form style="text-align:center">
   <br> <br>
   {% for table in tables %}
            {{titles[loop.index]}}
            {{ table|safe }}
   {% endfor %}
   </body>
</div>


<div id="Question1" class="tabcontent">
  <h3>How does customer engagement change over time?</h3>
  <dash style="text-align:center">
    <iframe id ="show_products_by_commodities" src="{{ url_for('fig6') }}" height="489.5" width="952" style="text-align:center"></iframe>
    <p>
        <b>Figure 1.</b> This graph displays the total household spending in 2019.  We manifested a decrease on year 2020 as the world witnessed a global pandemic. People losing their jobs and facing hardships could be major factors to that decrease.
    </p>
    <br>
    <iframe id ="show_products_by_commodities" src="{{ url_for('fig2') }}" height="489.5" width="952" style="text-align:center"></iframe>
    <p>
        <b>Figure 2.</b> This graph shows household spending against the purchased date. There is a peak in the month of April 2020 where most States
        started shutting down. We assisted on supplies shortage within that period, causing a downward trend in 2020
    </p>
    <br>
    <iframe id ="show_products_by_commodities" src="{{ url_for('fig7') }}" height="489.5" width="952" style="text-align:center"></iframe>
    <p>
        <b>Figure 3.</b> This chart shows specific customer engagement over time. We use this to see or track changes
        to a household that could increase or decrease spending over time.
    </p>
    <br>
  </dash>
</div>

<div id="Question2" class="tabcontent">
  <h3>Which demographic factors (e.g. household size, presence of children, income) appear to affect customer engagement?</h3>
  <body style="text-align:center">
 <iframe id ="show_products_by_commodities" src="{{ url_for('fig5') }}" height="489.5" width="952" style="text-align:center"></iframe>
 <p>
     <b>Figure 4.</b> This chart shows the sum of household spending by household size.
     Families of 2 seem to spend roughly the same amount per person as other families but as you can see,
     families of 2 make up the largest spending group. This is likely because there are more families of 2
     than other sizes of families.
 </p>
 <br>
 <iframe id ="show_products_by_commodities" src="{{ url_for('fig3') }}" height="489.5" width="952" style="text-align:center"></iframe>
 <p>
     <b>Figure 5.</b> This chart shows the sum of spending by age range. The 45-55 makes up the largest
     spending block meaning grocery stores may want to appeal to this age range specifically.
 </p>
 <br>
 <iframe id ="show_products_by_commodities" src="{{ url_for('fig4') }}" height="489.5" width="952" style="text-align:center"></iframe>
 <p>
     <b>Figure 6.</b> This chart shows the sum of spending by income range. The 50-74k income range makes
     up the largest spending block meaning grocery stores may want to appeal to this income range specifically.
 </p>
 <br>
 <iframe id ="show_products_by_commodities" src="{{ url_for('fig1') }}" height="489.5" width="952" style="text-align:center"></iframe>
 <p>
     <b>Figure 7.</b> This pie chart shows the ratio of products sold by category. Commodities make up over a quarter
     of all revenue made meaning this is where groceries stores make a huge portion of their money.
 </p>
</body>
</div>

<script>
function openPage(pageName,elmnt,color) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].style.backgroundColor = "";
  }
  document.getElementById(pageName).style.display = "block";
  elmnt.style.backgroundColor = color;
}

document.getElementById("defaultOpen").click();
</script>

</body>
</html>
